

@font-face {
    font-family: pokemonFont;
    src: url(PokemonGB.ttf);
}

body {
	background-color: red;
	font-family: pokemonFont;
}

.img-responsive {
    margin: 25px auto;
    top: 0;
}

#wordBox {
	border-style: double;
	border-color: #666666;
	border-width: 6px;
}
#wordSpot{
	letter-spacing: 2px;
	width: 100%;
  margin: 25px auto; 
}
#picture-spot {
  float: right;
  position: relative;
  right: 0px;
}
#imageBox {
  position: relative;
  width: 550px;
  height: 350px;
  margin: 0 auto;
}

#trainer {
  height: 85px;
  width: auto;
}
.container { margin-top: 25px; }

#bottom-row {
  position: absolute;
  bottom: 15px;
  width: 470px;
}

.circle {
    
      width: 15px;
      height: 15px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      /*border-style: solid;
      border-color: #666666
      border-width: 0.25pt;*/
      /*background: red;*/
      float: right;
      margin-left: 3px;
      margin-top: 25px;

    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, #b1b2b5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, #b1b2b5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, #b1b2b5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, #b1b2b5); /* Standard syntax */
    
}

#pokeball {
  position: absolute;
  bottom: 40px;
  height: 20px;
  width: 20px;
    left: 135px;
}

